#!/bin/sh
export PATH=$PATH:/sbin

tunnel_peer_old=`ip tunnel show | grep '{{ gre[item].tunnel.dev }}' | awk '/remote/ {split ($4,A," "); print A[1]}'`

tunnel_peer_new=`host {{ gre[item].tunnel.fqdn }} | head -n 1 | awk -F ' ' '{ print $4 } '`

tunnel_local=`ip addr show dev eth0 | sed -n '/inet / s#.*inet \([^/]*\)/.*#\1#p'`

if [ ! "$tunnel_home_old" = "$tunnel_home_new" ] ; then
        ip tunnel change {{ gre[item].tunnel.dev }} mode gre remote $tunnel_home_new local $tunnel_local ttl 255
fi

