# GRE Tunnel configuration

auto {{ gre.dev }}

iface {{ gre.dev }} inet tunnel
  mode gre
  netmask {{ gre.tunnel.netmask }}
  address {{ gre.address }}
  dstaddr {{ gre.daddress }}
  local {{ gre.tunnel.local }}
  endpoint {{ gre.tunnel.remote }} 
  ttl 64
  post-up ip route add {{ gre.network }} dev {{ gre.dev }}
  post-down ip tunnel del {{ gre.dev }}
 
