#!/bin/bash

# Setup GRE tunnel
# Requires super power


	ip tunnel add {{ gre.dev }} \
	   mode gre \
	   remote {{ gre.tunnel.remote }} \
	   local {{ gre.tunnel.local }} \
	   ttl {{ gre.tunnel.ttl }}
	ip link set {{ gre.dev }} up
	ip addr add {{ gre.address }} dev {{ gre.dev }}
	ip route add {{ gre.network }} dev {{ gre.dev }}

